body {
	margin: 0;
	font-family: "Inter", sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#main-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 385px;
	width: 100%;
	background-color: #6943ff;
	font-size: 22px;
	color: white;
}

#main-container > input {
	width: 117px;
	height: 83px;
	border: solid #b295ff;
	border-radius: 7px;
	background-color: #6943ff;
	align-items: center;
	margin-bottom: 20px;
	font-size: 60px;
	color: white;
	font-weight: 700;
	text-align: center;
}

#convert-btn {
	margin-top: 0.5rem;
	font-size: 1.25rem;
	font-weight: 500;
	border-radius: 7px;
	padding: 0.5rem;
	width: 117px;
	height: 42px;
}

#sub-container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background-color: #1f2937;
	flex: 1;
	padding: 1rem 0;
}

.length-container,
.volume-container,
.mass-container {
	background-color: #273549;
	text-align: center;

	padding: 2rem;
	margin: 1rem 1rem;
	width: 500px;
	height: 98px;

	font-size: 15px;
}

h2 {
	color: #ccc1ff;
}

p {
	color: white;
	font-size: 16px;
}
